*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
}

.sub-title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
}

.pri-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    color: black;
}

@media screen and (max-width: 600px){
    .pri-title{
        font-size: 2rem;
        line-height: 38px;
    }
}

/* header */
header{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #ffffff;
}

.nav__container{
    padding: 10px 0px;
}

.navPoochCare a{
    color: black;
    padding-bottom: 10px;
}

.navbar-nav .nav-link.active{
    color:#189A46;
}

.navPoochCare p{
    font-size: 34px;
    font-weight: 600;
    color: #189A46;
    margin: 0;
}

#navbarPoochCare .nav-link{
    position: relative;
    padding: 0px 0.5rem;
    display: inline-block;
    width: 100%;
}

#navbarPoochCare .nav-link::before{
    content: '';
    width: 0;
    height: 1px;
    bottom: 0px;
    background-color: #189A46;
    display: inline-block;
    transition: all 0.5s;
    position: absolute;
}

#navbarPoochCare .nav-link:hover::before{
    width: 80% ;
}

#navbarPoochCare .dropdown-item::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: #189A46;
    display: block;
    transition: all 0.5s;
    position: absolute;
    z-index: 5;
}

#navbarPoochCare .dropdown-item:hover{
    background-color: transparent;
}

#navbarPoochCare .dropdown-item:hover::after{
    width: 60%;
}


#navbarPoochCare .nav-item.active .nav-link{
    color: #189A46;
}

#navbarPoochCare .nav-item{
    padding: 0 4px;
}
#navbarPoochCare .nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.5s;

}
#navbarPoochCare .nav-item:hover .nav-link{
    color: #189A46;
}

#navbarPoochCare .dropdown-menu{
    color: #000c04;
    font-size: 1.2rem;
    padding: 10px 40px 5px 10px;
}

.dark #navbarPoochCare .show{
    color: white;
}

.dark #navbarPoochCare .dropdown-menu{
    background-color: #151515;
}

#navbarPoochCare .dropdown-item:hover{
    color: #189A46;
}

/* Phần custom icon của pages*/
#pages-custom.dropdown-toggle::after{
    display: none;
}
.nav-link i{
    font-size: 10px;
}

.navPoochCare  a.search-search {
    background: #936be80d;
    font-size: 16px;
    line-height: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0;
    text-align: center;
    color: #189a46;
    display: inline-block;
    border: none;
    transition: all 0.5s;
}

#navbarPoochCare li a.search-search:hover{
    background: #189a46;
    color:white;
    transition: all 0.5s;
}

.navPoochCare .navbar-toggler{
    background-color: #189a46;
}

.pop-overlay{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.search-popup {
    width: 35%;
    margin: auto;
}

.search-popup input{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 55px;
    padding: 15px 20px 12px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.search-popup form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background: #189a46;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

#search .mfp-close {
    top: -100%;
    right: 32%;
    font-size: 30px;
    font-weight: 700;
}

/* .red{
    background: url( https://wp.w3layouts.com/poochcare/wp-content/themes/Pooch-care/assets/images/banner2.jpg);
    background-size: cover;
}

.green{
    background-color: green;
} */

.DarkandLight .btn{
    width: 50px;
  }

.DarkandLight i{
    font-size: 24px;
}

@media screen and (max-width: 990px){
    .mobile-position{
        position: absolute;
        right: 25%;
    }
}


/* Light theme */
#myBody {
    background-color: white;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody {
    background-color: #151515;
  }
  .dark #switchButton {
    background-color: #151515;
    /* border: 1px solid white; */
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: #404040;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }

  .dark header {
    background-color: #151515;
  }

  .dark header a{
    color:white;
  }

  .dark .navPoochCare  a.search-search{
    background: #222222;
  }


/* .carousel */
.carousel {
    position: relative;
    z-index: 0;
}

.banner-view1 {
    background: url(https://wp.w3layouts.com/poochcare/wp-content/themes/Pooch-care/assets/images/banner1.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.banner-view2 {
    background: url(https://wp.w3layouts.com/poochcare/wp-content/themes/Pooch-care/assets/images/banner2.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.banner-view1::before{
    content: '';
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #0c0c0c;
    opacity: .6;
}

.banner-view2::before{
    content: '';
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #0c0c0c;
    opacity: .6;
}

.banner__content1{
    position: absolute;
    top: 30%;
    left: 15%;
    max-width: 700px;
}

.banner__content2{
    position: absolute;
    top: 30%;
    left: 40%;
    max-width: 700px;
}

.carousel .carousel__container h5{
    font-size: 66px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    line-height: 76px;
}

@media screen and (max-width: 1200px){
    .carousel .carousel__container h5{
        font-size: 52px;
        line-height: 62px;
    }
}

@media screen and (max-width: 992px){
    .carousel .carousel__container h5{
        font-size: 50px;
        line-height: 55px;
    }
}

@media screen and (max-width: 480px){
    .carousel .carousel__container h5{
        font-size: 32px;
        line-height: 42px;
    }
}


.carousel .carousel__container p{
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    opacity: 0.9;
}

.carousel .carousel__container button.button__banner{
    margin-right: 5px;
}

.carousel .carousel__container button.button__banner:first-of-type{
    color: #189A46;
    background-color: #fff;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid transparent;
}
.carousel .carousel__container button.button__banner:last-of-type{
    color:#fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 10px;
}

.carousel .carousel__container button.button__banner:last-of-type:hover{
    color: #189A46;
    background-color: #fff;
    transition: all 0.5s;
}

.carousel .carousel1 .owl-dots{
    position: absolute;
    bottom: 25px;
    right: 46%;
}

.carousel .carousel1 .owl-dot{
    margin-top: 50px;
}

.carousel .carousel1 .owl-dot.active span{
    width: 30px;
    height: 10px;
    background:#189a46;
}

.carousel .carousel1 .owl-dot:hover span{
    width: 30px;
    height: 10px;
    background:#189a46;
}

/* #carouselcyber{
    position: relative;
}

#carouselcyber .carousel-caption{
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    position: absolute;
}

#carouselcyber .carousel-caption h5{
    font-size: 66px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    line-height: 76px;
}

#carouselcyber .carousel-caption p{
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    opacity: 0.9;
}

#carouselcyber .carousel-caption .phan1  {
    max-width: 700px;
}


#carouselcyber .carousel-caption button{
    margin: 0 4px;
}

#carouselcyber .carousel-caption button:first-of-type{
    color: #189A46;
    background-color: #fff;
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
}
#carouselcyber .carousel-caption button:last-of-type{
    color:#fff;
    border: 2px solid #fff;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 10px;
}
#carouselcyber .carousel-caption button:last-of-type:hover{
    color: #189A46;
    background-color: #fff;
    transition: all 0.5s;
} */

/* about us */
.aboutus{
    padding: 50px 0;
    text-align: center;
}

.aboutus__container{
    width: 54%;
    margin: auto;
}

@media screen and (max-width: 1200px){
    .aboutus__container{
        width: 100%;
    }
}

.dark .aboutus .content h1,
.dark .aboutus a{
    color: white;
}
.aboutus .content p{
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}

.dark .aboutus p{
    color:#afafaf;
}

.aboutus a{
    display: inline-block;
    margin-top: 20px;
    font-size: 17px;
    color: #000c04;
    border-radius: 0;
    text-transform: capitalize;
    border-bottom: 2px solid #189A46;
    font-weight: 600;
    text-decoration: none;
}
.aboutus a:hover{
    color: #189A46;
    transition: all 0.5s;
}

/* services */
.services{
    padding: 100px 0;
    background-color: rgb(147 107 232 / 5%) ;
}

.dark .services{
    background-color: #222222;
}

.services__container{
    margin: 0 5% auto;
    width: 90%;
}


.services .item{
    padding: 15px;
}

.services .item .item__bg{
    padding: 40px 30px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.dark .services .item .item__bg{
    background-color: #151515;
}

.services .item .item__bg:hover{
    background-color: rgb(147 107 232 / 5%);
    transition: all 0.5s;
}

.dark .services .item .item__bg:hover{
    background-color: #222222;
}

.services .item i{
    color: #189A46;
    font-size: 30px;
    padding: 0 0 20px 0;
}

.services .item h4{
    color: #000c04;
    font-weight: 600;
}

.dark .services .item h4,
.dark .services .item a{
    color: white;
}

.services .item p{
    color: #696969;
    font-size: 1.2em;
    line-height: 28px;
}

.dark .services .item p{
    color: #afafaf;
}

.services .item a{
    margin-top: 20px;
    font-size: 17px;
    color: #000c04;
    border-radius: 0;
    text-transform: capitalize;
    border-bottom: 2px solid #189A46;
    font-weight: 600;
    text-decoration: none;
}

.services .item a:hover{
    color: #189A46;
    transition: all 0.5s;
}

/* .choose */

.choose__container{
    margin: 0 5% auto;
    width: 90%;
}

.choose img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.choose__content {
    align-self: center;
}

.choose .choose__content p{
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
    font-style: normal;
    font-weight: normal;
}

.choose .choose__content ul li{
    margin: 15px 0;
    font-weight: 600;
    color: #000c04;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    font-style: normal;
}

.dark .choose .choose__content ul li{
    color:white;
}
.choose .choose__content ul li i{
    color: #189a46;
    margin-right: 12px;
    background: #936be80d;
    font-size: 13px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}







/* ?BUTTON */
.btn__green{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    color:white;
    background-color: #189a46;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.btn__green:hover{
    background-color: #116E32;
    transition: all 0.5s;
}

/* COUNT */

.count {
    text-align: center;
    background-color: #189a46;
    padding: 48px 0;
}

.count span{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.count p{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}





/* PRICE */
.price {
    background-color: #f9f8fd;
    text-align: center;
}

.dark .price{
    background-color: #222222;
}

.dark h1{
    color: white;
}
.price__container{
    margin: 0 5% auto;
    width: 90%;
}

.price h2{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.price .price__content{
    padding-top: 80px;
}

.price .price__content .card{
    height: max-content;
    border: 1px solid transparent;
}

.dark .price .price__content .card{
    background-color: #111111;
}

.price .price__content .card__top{
    padding: 3.5em 2.5em 0;
}

.price .card__top p:first-of-type{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color:black;
}

.dark .price .card__top p:first-of-type{
    color:white;
}

.price .card__top p:last-of-type{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color:#189a46;
}

.price .card__top p:last-of-type sup{
    font-size: 25px;
}

.price .card__top span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.price .card__bottom li{
    list-style: none;
    padding: 5px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
}

.price .price__content .active{
    transform: scaleY(1.03);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0;
    z-index: 1;
}

.price .price__content .active .card__top{
    background-color: #189a46;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.price .price__content .active .card__top h3{
    font-size: 15px;
    line-height: 20px;
    color:#189a46;
    text-align: center;
    text-transform: uppercase;
    margin: 0 70px 30px 70px;
    font-weight: 600;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}

.price .price__content .active .card__top p,
.price .price__content .active .card__top span{
    color:white;
}

.price .price__content .card__bottom{
    padding: 20px 0 56px;
}

.price .price__content .card__bottom ul{
    padding: 0;
    margin-bottom: 2rem;
}


/* VIDEO */
.video{
    text-align: center;
}

.dark .video{
    background-color: #151515;
}

.video__container{
    padding: 0 3px;
    margin: 0 auto;
    max-width: 950px;
}

.video .video__title p{
    font-size: 1.2em;
    line-height: 28px;
    color:#696969;
}

.dark .video .video__title p{
    color: #afafaf;
}

.video .video__content {
    position: relative;
}

.video .video__content a{
    position: absolute;
    top: 50%;
    left: 50%;
}

.video .video__content img{
    border-radius: 10px;
}

.video .video__content span{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color:#189a46;
    line-height: 55px;
}

@keyframes ripple{
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

/*? Magnific Popup */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
.mfp-close-btn-in .mfp-close {
    color: #fff;
  }
.video__content .mfp-close,
.video__content .mfp-close:active {
    top: -40px;
}
  
  /**
     * Fade-zoom animation for first dialog
     */
  /* start state */
  .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }


  /* FEEDBACK */
.feedback {
    text-align: center;
    background-color: #f9f8fd;
}

.dark .feedback {
    background-color: #222222;
}

.feedback .feedback__title{
    margin-bottom: 3rem;
}

.feedback .feedback__carousel{
    max-width: 1050px;
    margin: auto;
    text-align: left;
}

.feedback .feedback__carousel .item{
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.04);
}

.dark .feedback .feedback__carousel .item{
    background-color: #151515;
}

.feedback .feedback__carousel .item__quote{
    margin: 0 24px 24px 24px;
}

.feedback .feedback__carousel .item__quote p{
    font-size: 1.2em;
    line-height: 28px;
    max-width: 400px;
}

/* .feedback .feedback__carousel .item__quote blockquote p::before{
   content: open-quote;
   font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
} */

.feedback .feedback__carousel .item__quote span{
    font-size: 50px;
    color:#189a46;
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
}

.feedback .feedback__carousel .item__ava img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.feedback .feedback__carousel .item__ava .item__name {
    margin-left: 20px;
}

.feedback .feedback__carousel .item__ava .item__name h3{
    font-weight: 600;
    font-size: 20px;
    color:black;
    margin-bottom: 0;
}

.dark .feedback .feedback__carousel .item__ava .item__name h3{
    color: white;
}

.feedback .feedback__carousel .item__ava .item__name span{
    color: #777;
    font-size: 17px;
    opacity: 0.8;
}

.feedback .feedback__carousel .owl-dot{
    margin-top: 50px;
}

.feedback .feedback__carousel .owl-dot.active span{
    width: 30px;
    height: 10px;
    background:#189a46;
}

.feedback .feedback__carousel .owl-dot:hover span{
    width: 30px;
    height: 10px;
    background:#189a46;
}

@media screen and (max-width: 667px){
    .owl-carousel.owl-theme .owl-dots .owl-dot {
        display: none;}
}


/* FORM */

.form{
    text-align: center;
}

.dark .form{
    background-color: #151515;
}

.form__title p{
    font-size: 1.2em;
}

.form .form__inpt input{
    padding: 0 20px;
    line-height: 59px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #cccccc;
    /* dùng để xóa border gốc của input */
    outline: none;
    transition: all 0.5s;
}

.form .form__inpt input:focus{
    border:1px solid #189a46;
    transition: all 0.5s;
}

.form .form__inpt .btn__green {
    width: 27%;
    padding: 10px 40px;
}

@media screen and (max-width: 667px){
    .form .form__inpt input, 
    .form .form__inpt .btn__green{
        width: 100%;
        margin-bottom: 16px;
}
}


/* FOOTER */
footer{
    background-color: #111111;
}

footer h4{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer ul{
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
}

footer li {
    margin-bottom: 5px;
}

footer a{
    text-decoration: none;
    color: #696969;
    margin-right: 10px;
    transition: all 0.5s;
}

footer li a:hover{
    text-decoration: underline;
    color: white;
    transition: all 0.5s;
}

footer a:hover{
    color: white;
    transition: all 0.5s;
}

footer .footer__bot{
    text-align: center;
    padding: 24px 0;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .footer__bot a{
    color: #f53626;
}

footer .footer__bot:hover a{
    text-decoration: underline;
}

/* btn backtotop */

.backToTop {
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.backToTop a {
    width: 48px;
    height: 48px;
    background: #189a46;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 45px;
    color: white;
    transition: all .2s;
}

.backToTop.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
    transition: all .2s;
}

